# Ignore dataset and large folders
Data/
data/
*.csv
*.zip

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Streamlit and temp files
.streamlit/
*.log

# Ignore models and artifacts
models/

venv/